.header-title, .header-logo, .header-logo img, .locale, .phone-number, .address-div, address, .header-image, .header-image, .header-border {
    background: none;
}

.header-logo {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 25px;
}

.header-logo img {
    height: 40px;
    width: 330px;
}

.locale {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.address-div {
    display: flex;
    flex-wrap: wrap;
    width: 30%;
}

.phone-number, .address-link {
    margin: 10px 0px;
    font-family: 'Gloria Hallelujah', arial;
    font-size: 10px;
    color: var(--primary);
    width: 30%;
}

.header-border {
    width: 100%;
    padding-bottom: 25px;
    display: flex;
    justify-content: center;
}

@media only screen and (min-width: 500px) {
    .phone-number, .address-link {
        font-size: 15px;
    }
}

@media only screen and (min-width: 700px) {
    .phone-number, .address-link {
        font-size: 20px;
    }
}
