.header-image {
    width: 365px;
    height: 223px;
    margin-bottom: -5px;
    background: none;
}

.header-border {
    width: 100%;
    padding-bottom: 25px;
    background: none;
    display: flex;
    justify-content: center;
}

@media only screen and (min-width: 500px) {
    .header-image {
        width: 100%;
    }
}

@media only screen and (min-width: 900px) {
    .header-image {
        width: 90%;
        height: 300px;
    }
}

@media only screen and (min-width: 900px) {
    .header-image {
        width: 90%;
        height: 500px;
    }
}