/* remove universal background */
 footer, .footer-logo, .footer-logo img, .social-links, .social-links a, .footer-icon, .site-creator, .site-creator img, .copyright, .site-creator-contact {
    background: none;
}

/* footer styling */
footer {
    width: 100%;
}

.footer-logo {
    display: flex;
    justify-content: center;
    margin-top: 25px;
}

.footer-logo img {
    width: 330px;
    height: 40px;
}

.social-links {
    display: flex;
    justify-content: space-around;
}

.footer-icon {
    height: 50px;
    width: 50px;
    color: var(--primary);
    margin-top: 25px;
}

.footer-icon:hover {
    color: var(--hover);
}

.site-creator {
    margin-top: 40px;
}

.site-creator, .site-creator-contact {
    display: flex;
    width: 100%;
    align-items: center;
}

.site-creator {
    justify-content: center;
}

.site-creator-contact {
    justify-content: space-around;
}

.site-creator img {
    width: 130px;
    height: 90px;
    margin-right: 25px;
    padding-bottom: 5px;
}

.copyright, .creator-site, .creator-email {
    color: var(--primary);
    font-family:'Courier New', Courier, monospace;
    font-size: 8px;
}

.copyright {
    text-align: center;
}

.creator-site, .creator-email {
    padding: 0px 10px;
    margin-bottom: 5px;
}

@media only screen and (min-width: 700px) {
    .site-creator img {
        width: 200px;
        height: 138px;
    }
    
    .copyright, .creator-site, .creator-email {
    font-size: 15px;
    }
}