/* remove universal background */
footer, .locale, .footer-logo, .footer-logo img, .social-links, .social-links a, .footer-icon, .site-creator, .site-creator img, .copyright, address, .phone-number, .creator-site, .creator-email {
    background: none;
}

/* footer styling */
footer {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.footer-logo {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 25px;
}

.locale {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.footer-logo img {
    width: 330px;
    height: 40px;
}

.phone-number, address {
    font-family: 'Gloria Hallelujah', arial;
    font-size: 15px;
    color: var(--primary);
    width: 30%;
}

.phone-number:hover {
    background: var(--hover);
}

.social-links {
    display: flex;
    justify-content: space-around;
}

.footer-icon {
    height: 50px;
    width: 50px;
    color: var(--primary);
    margin-top: 25px;
}

.footer-icon:hover {
    color: var(--hover);
}

.site-creator {
    margin-top: 25px;
}

.site-creator-contact, .site-creator {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.creator-site {
    margin-right: 25px;
}

.site-creator img {
    width: 130px;
    height: 90px;
    margin-right: 25px;
    padding-bottom: 5px;
}

.copyright, .creator-site, .creator-email {
    color: var(--primary);
    font-family:'Courier New', Courier, monospace;
    font-size: 10px;
}

.creator-site:hover, .creator-email:hover {
    background-color: var(--hover);
}

@media only screen and (min-width: 700px) {
    .site-creator img {
        width: 200px;
        height: 138px;
    }

    .copyright {
        margin-top: 65px;
    }

    .phone-number, address {
        font-size: 20px;
    }
    
    .copyright, .creator-site, .creator-email {
    font-size: 18px;
    }
}