:root {
  --primary: white;
  --secondary: #1c1e47;
  --hover: #FFBF00;
}

@import url('https://fonts.googleapis.com/css2?family=Dokdo&family=Gloria+Hallelujah&display=swap');

* {
  background-image: radial-gradient(#1c1e47, black);
}

.internal-link, .external-link {
  color: var(--primary);
  background: none;
}

.internal-link:hover, .external-link:hover {
  background-color: var(--hover);
}