:root {
  --primary: white;
  --secondary: #1c1e47;
  --hover: #FFBF00;
}

@import url('https://fonts.googleapis.com/css2?family=Dokdo&family=Gloria+Hallelujah&display=swap');

* {
  background-image: radial-gradient(#1c1e47, black);
}

.link {
  color: var(--primary);
  background: none;
}

.link:hover {
  background-color: var(--hover);
  border-radius: 10px;
  padding: 5px;
}

.button-div {
  background: none;
  display: flex;
  justify-content: center;
}

.button {
  background-image: radial-gradient(#dee1e4, #aaa9ad);
  border: none;
  border-radius: 10px;
  box-shadow: 1px 1px 20px 1px white;
  color: var(--secondary);
    font-family: 'Dokdo', arial;
    font-size: 25px;
    margin-top: 10px;
    text-align: center;
}

.button:hover {
  color: var(--primary);
  background: var(--hover);
}

.page-description {
  color: var(--primary);
    font-family: 'Gloria Hallelujah', arial;
    text-align: justify;
    font-size: 20px;
    background: none;
    margin: 20px;
}

.to-page {
  width: 75%;
  margin: auto;
  margin-bottom: 20px;
}

@media only screen and (min-width: 900px) {
  .page-description {
    font-size: 25px;
  }
}