/* removing universal background */
.bm-menu-wrap, .bm-item-list, .bm-item, .bm-burger-button, .bm-burger-button button {
  background: none;
}

/* nav styling */

/* Position and sizing of burger button */
.bm-burger-button {
  position: fixed;
  width: 18px;
  height: 18px;
  left: 10px;
  top: 10px;
}
  
  /* Color/shape of burger icon bars */
.bm-burger-bars {
  background: var(--primary);
}
  
  /* Color/shape of burger icon bars on hover*/
.bm-burger-bars-hover {
  background: var(--hover);
}
  
  /* Position and sizing of clickable cross button */
.bm-cross-button {
  background: none;
  height: 24px;
  width: 24px;
}
  
  /* Color/shape of close button cross */
.bm-cross {
  background: var(--primary);
}
  
  /*
  Sidebar wrapper styles
  Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
  */
.bm-menu-wrap {
  position: fixed;
  height: 100%;
}
  
  /* General sidebar styles */
.bm-menu {
  background-image: url("../../assets/images/navbar-image.webp");
  opacity: 75%;
  padding: 2.5em 3em 0;
}

  /* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: var(--secondary);
  opacity: 75%;
}
  
  /* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}

  /* Individual item */
.bm-item {
    display: inline-block;
    margin-bottom: 10px;
    text-align: left;
    text-decoration: none;
    transition: color 0.2s;
    color: var(--primary);
    opacity: 100%;
    font-family: 'Gloria Hallelujah', arial;
    font-size: 1.5em;
}
  
.bm-item:hover {
    background: var(--hover);
    color: var(--secondary);
}

.nav-logo {
  height: 300px;
  margin: 20%;
  margin-top: 100px;
}

.nav-logo:hover {
  background: none;
}

@media only screen and (min-width: 900px) {
  .bm-burger-button {
    width: 40px;
    height: 40px;
  }
}